@model Person

<div class="row">
    <div class="col-sm">
      @Model.PersonId
    </div>
    <div class="col-sm">
      @Model.Name
    </div>
    <div class="col-sm">
      @Model.City.CityName
    </div>
    <div class="col-sm">
      @Model.PhoneNumber
    </div>
    <div class="col-sm">
      @Model.Languages
    </div>
    <div class="col-sm">
        <a asp-action="Remove" asp-route-id="@Model.PersonId">Remove</a>
    </div>
    <div class="col-sm">
        <a asp-action="Edit" asp-route-id="@Model.PersonId">Edit</a>
    </div>
</div>
