@model Person

<div class="row">
    <div class="col-sm">
      @Model.Id
    </div>
    <div class="col-sm">
      @Model.Name
    </div>
    <div class="col-sm">
      @Model.City.CityName
    </div>
    <div class="col-sm">
      @Model.PhoneNumber
    </div>
    <div class="col-sm">
        <a asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
    </div>
</div>
